.summaryItem {
    height: 50px;
    border: 2px solid #efefef;
    box-shadow: 2px 2px #efefef;
    display: flex;
}

.summaryItem img {
    height: 90%;
    margin: 3px;
    width: auto;
}

.summaryItem label {
    margin: 10px;
    font-size: 20px;
}

.summaryItem button {
    margin: 3px;
    width: auto;
    background: none;
    border: none;
    font-size: 20px;
}

.summaryItem button:hover {
    cursor: pointer;
    font-weight: bold;
}
