.header {
    width: 600px;
    padding: 10px 0;
    border-bottom: 2px solid black;
}

.header span {
    margin: 2px 10px;
}

.back {
    background: url(../../assets/images/back.png) no-repeat;
    /* width: 40px;
    height: 40px; */
}

.summaryContainer {
    margin: 20px auto;
}

.orderSummary {
    width: 600px;
    /* border: 1px solid #000000; */
    /* border: 1px solid #efefef; */
    /* height: 800px; */
    scroll-behavior: auto;
    display: inline-block;
}

.orderTotalBox {
    width: 300px;
    height: 200px;
    /* border: 1px solid #efefef; */
    border: 1px solid #000000;
    display: inline-block;
    position: fixed;
    top: 65px;
    margin: 0 10px;
}

table, th {
    width: 100%;
    /* border-bottom: 1px solid black; */
    border-collapse: collapse;
}
th {
    border-bottom: 1px solid black;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
